<div style="text-align: center;"><strong> {{ title }} </strong> is running!</div>

<div class="content" role="main">

  <h1>Welcome {{userName}}!</h1>
  <h2>Persisting Persons</h2>
  <table style="text-align: center;">
    <tr>
      <td class="td-align" style="width: 400px">
        <div style="max-height: 600px;overflow: auto;">
          <table mat-table [dataSource]="persons" class="mat-elevation-z8" style="width:100%;text-align: left;">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef> Age</th>
              <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="position: sticky;"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              [routerLink]="['/topic/', row.name]">
            </tr>
          </table>
        </div>
      </td>

      <td *ngIf="isAdmin()" class="td-align">
        <div>
          <mat-form-field><input matInput color="primary" placeholder="Name" #nameField></mat-form-field>
          <mat-form-field><input matInput color="primary" placeholder="Age" #ageField></mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="onPersist(nameField, ageField)">PERSIST!</button>
        </div>
        <p style="font-size:20px">{{clickMessage}}</p>
      </td>
    </tr>
  </table>
</div>
